* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  background-image:url("gaming-controller-wallpaper.jpg");
  background-position: 50% 0%;
  background-attachment: fixed;
}

h1{
  font-size:3.7em;
  font-family: 'Aldrich', sans-serif;
  padding:0;
  margin-top:50px;
  margin-bottom:0px;
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

 nav .instructions{
  font-size:1.1em;
  margin-bottom:30px;
}

input[type=text], select, textarea {
  width: 300px;
  height:50px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  text-align:center;
}

input[type=submit] {
  font-family: 'Aldrich', sans-serif;
  color: white;
  height:50px;
  width:300px;
  margin-top:10px;
  cursor: pointer;
  background-color: #366492;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px #27496d;
}

input[type=submit]:hover {
  background-color: #417cb8;
}

input[type=submit]:active{
  background-color: #417cb8;
  box-shadow: 0 1px #27496d;
  transform: translateY(2px);
}

nav{
  height:275px;
}

ul {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:baseline;
  align-content:flex-start;
  width:1200px;
  max-width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.gameCard {
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
  list-style-type:none;
  height:auto;
  width:190px;
  background-color:#366492;
  box-shadow: 0 1px 3px 0 grey;
  border-radius: 2px;
  cursor:pointer;
  
}

.gameName{
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  padding-top:5px;
  padding-bottom:5px;
}

img{
  height:auto;
  width:190px;
}

.gameID{
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  padding-top:2px;
  padding-bottom:5px;
}

.gameCard:hover {
  box-shadow: 0 4px 8px 0 grey;
  font-size:1.1em;
  font-weight:500;
}

.resultsText{
  font-size:1.1em;
  font-weight:light;
}

a{
  text-decoration:none;
  color:black;
}

.errorMessage{
  color:black;
  margin-top:5px;
  display:block;
}

body .loaderDiv {
  display:none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 650px) {

  h1{
    font-size:3em;
    color: white;
    padding:0;
    margin-top:30px;
  }

  .resultsText{
    margin-top:50px;
    margin-left:10px;
    margin-right:10px;
    font-size:1.1em;
  }

  body {
    background-position: 40% 20%;
    background-size: 200%;
    color: white;
  }

  .gameCard {
    margin-bottom:10px;
  }

  ul{
    padding-right:45px;
  }

  nav .instructions{
    font-size:1.1em;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    color: white;
  }

  .alternateFinderInstructions{
    padding-top:10px;
    font-size:1.1em;
    color: white;
    margin-bottom:10px;
  }

  @media only screen and (max-width: 320px) {
    .alternateFinderInstructions{
      padding-top: 50px;
    }
  }
}
