<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VG Release Chart - Wishlist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Open+Sans" rel="stylesheet">
  </head>
   
  <body>
    <nav role="navigation">
      <input type="button" value="Return Home" onclick="location.href='/'"/>
      <h1><a href = "/">VG Release Chart</a></h1>
      <div class = "instructions">Log in to view your personal wish list.</div>
      
      <h2>Your Wish List</h2>
        
      </nav>
      <div class="loaderDiv"></div>
      <main role="main" aria-live="assertive">
          <div class="text-results"></div>
          <ul class="results"></ul>
          <div class="alternateMethod">
            <ul class="popularGames"></ul>
          </div>
      </main>
      
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="wish-parse.js"></script>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
